<section style="margin: 10px;">
  <section>

    <!-- Component Name -->
    <div class="form-group">
      <label for="componentName">Component name:</label>
      <input type="text" name="componentName" class="form-control" placeholder="eg. hello-world"
        [(ngModel)]="componentModel.name">
    </div>

    <!-- Input and Event Emitter creation -->
    <div class="row">
      <!-- Input Property column of modal form (left) -->
      <div class="col">
        <section>

          <!-- Input Property Name -->
          <div class="form-group">
            <label for="inputName">Input property name: </label>
            <input type="text" name="inputName" class="form-control" placeholder="eg. isVisible"
              [(ngModel)]="newInput.name">
          </div>

          <!-- Input Property Type -->
          <div class="form-group">
            <label for="inputType">Input property Type: </label>
            <!-- Dropdown component -->
            <div class="row">
              <div class="col">
                <div ngbDropdown class="d-inline-block">
                  <button class="btn btn-outline-primary" name="inputType" id="dropdownBasic1"
                    ngbDropdownToggle>{{newInput.type}}</button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem *ngFor="let type of supportedTypes"
                      (click)="setSelectedPropertyType(type)">{{type}}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Input Property Button -->
          <div class="form-group">
            <button class="btn btn-light" (click)="createInputProperty()">Add Input property</button>
          </div>

        </section>
      </div>

      <!-- Event Emitter column of modal form (right) -->
      <div class="col">
        <section>

          <!-- Event Emitter Name -->
          <div class="form-group">
            <label for="emitName">Event Emitter Name: </label>
            <input type="text" class="form-control" name="emitName" placeholder="eg. close"
              [(ngModel)]="newEmitter.name">
          </div>

          <!-- Event Emitter Property Type -->
          <div class="form-group">
            <label for="">Event Emitter Type: </label>
            <!-- Dropdown component -->
            <div class="row">
              <div class="col">
                <div ngbDropdown class="d-inline-block">
                  <button class="btn btn-outline-primary" id="dropdownBasic1"
                    ngbDropdownToggle>{{newEmitter.type}}</button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem *ngFor="let type of supportedTypes"
                      (click)="setSelectedEmitterType(type)">{{type}}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Event Emitter Button -->
          <div class="form-group"> <button class="btn btn-light" (click)="createEventEmitter()">Add Event
              Emitter</button>
          </div>

        </section>
      </div>

    </div>

  </section>

  <!-- TODO: Display inputs and emitters on create/edit modal -->
  <!-- <section>
    <span>Input Properties:</span>
    <div *ngFor="let input of componentModel.inputProperties">
      <span>{{input.name}} | {{input.type}}</span>
    </div>
    <span>Event Emitters:</span>
    <div *ngFor="let event of componentModel.eventEmitters">
      <span>{{event.name}} | {{event.type}}</span>
    </div>
  </section> -->

  <!-- Parent container selection -->
  <!-- <section>
    <label for="parentContainer">Parent Container:</label>
    <div class="row">
      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="containerDropdown"
            ngbDropdownToggle>{{selectedContainer?.name}}</button>
          <div ngbDropdownMenu aria-labelledby="containerDropdown">
            <button ngbDropdownItem *ngFor="let container of containers"
              (click)="setParentContainer(container)">{{container.name}}</button>
          </div>
        </div>
      </div>
    </div>
  </section> -->

</section>

<!-- Create/Close buttons -->
<div class="form-group" style="margin-top: 20px; background-color: #f8f9fa; margin-bottom: 0px; padding: 10px;">
  <button class="btn btn-light" (click)="handleCloseModal()">Close</button>
  <button class="btn btn-primary" style="float: right;" (click)="handleCreateComponent()">Create</button>
</div>