<div class="scrollbar scrollbar-near-moon" style="padding-right: .5rem;">
  <h2>Angular Component Designer</h2>

  <!-- Form containing app settings and container/component buttons -->
  <section>
    <!-- App settings at the top of the page -->
    <section>
      <div class="row" style="width: 50%;">

        <!-- Indentation -->
        <div class="col">
          <div class="form-group">
            <label for="">Indentation:</label>
            <input type="text" name="indentAmount" class="form-control" placeholder="eg. 2" [(ngModel)]="userSettings.indentAmount">
          </div>
        </div>

        <!-- App Prefix -->
        <div class="col">
          <div class="form-group">
            <label for="">Application prefix:</label>
            <input type="text" name="applicationPrefix" class="form-control" placeholder="eg. app" [(ngModel)]="userSettings.applicationPrefix">
          </div>

        </div>

        <!-- App Styling -->
        <div class="col">
          <div class="form-group">
            <label for="">Application Styling:</label>
            <input type="text" name="applicationStyling" class="form-control" placeholder="eg. css" [(ngModel)]="userSettings.applicationStyling">
          </div>
        </div>

      </div>
    </section>

    <!-- Buttons for adding containers and components -->
    <div class="form-group">
      <button class="btn btn-info" style="margin-right: 5px;" (click)="createContainer()">Add Container</button>
      <button [disabled]="!containers.length" (click)="generateModuleCode()" class="btn btn-success" style="float: right;" title="Generate code for all containers and all components">Get all code</button>
    </div>

  </section>

  <!-- Displays all containers and nested components in tabs -->
  <section *ngIf="this.containers.length">

    <!-- Responsible for handling tabs and containers -->
    <vin-container-tab [containers]="containers" [userSettings]="userSettings"></vin-container-tab>

  </section>

</div>

<router-outlet></router-outlet>