<span *ngIf="!isEditingPresenterName" class="presenter-name" (click)="isEditingPresenterName = true;">{{presenter.name}}</span>

<div *ngIf="isEditingPresenterName" class="input-group input-group-sm">
  <input type="text" name="inputName" class="form-control" autofocus placeholder="Presenter name (eg. hello-world)" [(ngModel)]="presenter.name">
  <div class="input-group-append">
    <button class="btn btn-outline-success btn-xs" (click)="isEditingPresenterName = false;">Save</button>
  </div>
</div>


<!-- Display/Add Input Property -->
<div>

  <!-- Button and input for adding new Input Property -->
  <vin-add-input-property [disabled]="disableAddInputProperty" (createNewInputProperty)="createInputProperty(presenter, $event)" (currentlyCreatingInputProperty)="disableAddEvent($event)"></vin-add-input-property>

  <!-- List of all Input Properties -->
  <div class="scrollbar scrollbar-near-moon property-container">
    <div *ngFor="let input of presenter.inputProperties">
      <small style="padding-right: 5px;" class="text-secondary">@Input() {{input.name}}: {{input.type}};</small>
      <button style="border: none;" (click)="removeInputClicked(presenter, input)" class="btn btn-outline-danger btn-xs">&times;</button>
    </div>
  </div>

</div>

<!-- Display/Add Event Emitter -->
<div>
  <vin-add-event-emitter [disabled]="disableAddEventEmitter" (createNewEventEmitter)="createEventEmitter(presenter, $event)" (currentlyCreatingEventEmitter)="disableAddInput($event)"></vin-add-event-emitter>

  <!-- List of all Event Emitters -->
  <div class="scrollbar scrollbar-near-moon property-container">
    <div *ngFor="let event of presenter.eventEmitters">
      <small style="padding-right: 5px;" class="text-secondary">@Output() {{event.name}}:
        EventEmitter&lt;{{event.type}}&gt;</small>
      <button style="border: none;" (click)="removeEventEmitterClicked(presenter, event)" class="btn btn-outline-danger btn-xs">&times;</button>
    </div>
  </div>

</div>

<!-- Get Presenter code -->
<div class="get-presenter-code-button">
  <button class="btn btn-outline-secondary btn-sm" style="margin-right: 5px" (click)="generatePresenterCodeClicked(presenter)">Get Presenter code</button>
</div>