<section style="margin: 10px;">
  <!-- Modal header -->
  <div class="form-group">
    <label for="containerName">Container name:</label>
    <input type="text" name="containerName" class="form-control" placeholder="eg. HelloWorldContainer"
      [(ngModel)]="containerModel.name">
  </div>

</section>
<section>
  <div class="form-group" style="margin-top: 20px; background-color: #f8f9fa; margin-bottom: 0px; padding: 10px;">
    <button class="btn btn-light" (click)="handleCloseModal()">Close</button>
    <button class="btn btn-primary" style="float: right;" (click)="handleCreateContainer()">Create</button>
  </div>
</section>