<!-- Display Container -->
<div class="container-grid">

  <!-- Display container and all properties on container -->
  <div class="container-grid-box">
    <h5 class="text-info">{{container.name}}</h5>

    <!-- Display presenter inputs on container -->
    <div class="scrollbar scrollbar-near-moon property-container">
      <div *ngFor="let presenter of container.components">
        <div *ngFor="let input of presenter.inputProperties">
          <small style="padding-right: 5px;" class="text-secondary">private {{input.name}}: {{input.type}};</small>
          <button style="border: none;" (click)="removeInputClicked(presenter, input)" class="btn btn-outline-danger btn-xs">&times;</button>
        </div>
      </div>
    </div>

    <!-- Display event emitter handlers on container -->
    <div class="scrollbar scrollbar-near-moon property-container">
      <div *ngFor="let presenter of container.components">
        <div *ngFor="let event of presenter.eventEmitters">
          <small style="padding-right: 5px;" class="text-secondary">private on{{event.name[0].toUpperCase() + event.name.substring(1)}}(event: {{event.type}}): void &#123;&#125;</small>
          <button style="border: none;" (click)="removeEventEmitterClicked(presenter, event)" class="btn btn-outline-danger btn-xs">&times;</button>
        </div>
      </div>
    </div>

    <!-- Buttons on container -->
    <div class="container-add-presenter-button">
      <button class="btn btn-sm btn-outline-secondary" style="margin-right: 5px" (click)="generateContainerCodeClicked(container)">Get
        Container
        code</button>
      <button class="btn btn-sm btn-primary" (click)="createPresenterClicked(container)" [disabled]="container.components.length >= 3">Add Presenter</button>
    </div>
  </div>

  <!-- Child Presenters of Container -->
  <div *ngFor="let presenter of container.components; index as i" [ngClass]="getClassForPresenter(i)">
    <vin-presenter-display [presenter]="presenter" (generatePresenterCode)="generatePresenterCodeClicked(presenter)"></vin-presenter-display>
  </div>